@import "../../styles/components/utilities.module";

.about_header {
  display: grid;
  margin-bottom: -1rem;

  &_banner {
    &__picture {
      &__img {
        max-width: 100%;
        max-height: 100%;
        height: auto;
      }
    }
  }

  &_container {
    position: absolute;
    align-items: center;
    padding: 4rem;
    max-width: 47vw;
    &_title {
      color: $color-bianca;

      &__text {
        text-transform: uppercase;
        padding: 1rem 0;
      }

      &__content {
        color: $color-amber;
        font-weight: lighter;
        text-transform: capitalize;
      }
    }
  }
}

.about_summary {
  display: grid;
  color: $color-bianca;
  background-color: $color-ebony-clay;
  padding: 4rem;

  &_container {
    text-align: center;

    &__title {
      font-weight: lighter;
    }

    &__content {
      margin-top: 2rem;
      font-weight: lighter;
      font-style: italic;
    }
  }
}

.about_education {
  background-color: $color-jade;
  display: grid;
  align-items: center;
  padding: 4rem;
  color: $color-bianca;

  &__maintitle {
    text-transform: uppercase;
  }

  &_container {
    &__card {
      margin-bottom: 2rem;
    }

    &__title {
      margin-top: 2rem;
      color: $color-amber;
      text-transform: uppercase;

      &_school {
        padding-top: 0.6rem;
        color: $color-bianca;
        text-transform: uppercase;
        font-style: italic;
      }
    }
    &__content {
      padding-top: 0.6rem;

      font-weight: lighter;
      font-style: italic;
    }
  }
}

.about_hobbies {
  background-color: $color-east-side;
  display: grid;
  align-items: center;
  padding: 4rem;
  color: $color-bianca;

  &__maintitle {
    text-transform: uppercase;
  }

  &_content {
    margin-top: 2rem;
    color: $color-bianca;
  }
}

.about_travel {
  margin-bottom: -1rem;
  // &_img {
  //   width: 100%;
  //   height: auto;
  // }
  &__picture {
    &__img {
      max-width: 100%;
      max-height: 100%;
      height: auto;
    }
  }
}

//TABLET
@media screen and (min-width: $size-tablet) {
  .about_header {
    &_container {
      padding: 8rem;
    }

    &_container_title__content {
      font-size: 3.2rem;
    }
  }

  .about_education {
    padding: 8rem;
  }
  .about_summary {
    padding: 8rem;
  }

  .about_hobbies {
    padding: 8rem;
  }
}

//DESKTOP
@media screen and (min-width: $size-tablet) {
  .about_header {
    &_container {
      padding: 12rem;

      h1 {
        font-size: 4.6rem;
      }
    }

    &_container_title__content {
      font-size: 3.2rem;
    }
  }

  .about_education {
    padding: 12rem;
  }
  .about_summary {
    padding: 12rem;
  }

  .about_hobbies {
    padding: 12rem;
  }
}
