@import "../components/utilities.module";

.about_header {
  background: url("../../assets/wallpapers/samet_mobile@1x.png");
  height: 68vh;
  display: grid;

  &_container {
    align-items: center;
    padding: 4rem 0 0 4rem;
    max-width: 47vw;

    &_title {
      color: $color-bianca;

      &__text {
        text-transform: uppercase;
        padding: 1rem 0;
      }

      &__content {
        color: $color-amber;
        font-weight: lighter;
        text-transform: capitalize;
      }
    }
  }
}

.about_summary {
  display: grid;
  color: $color-amber;
  background-color: $color-ebony-clay;
  padding: 4rem;

  &_container {
    text-align: center;

    &__title {
      font-weight: lighter;
    }

    &__content {
      margin-top: 2rem;
      text-align: justify;
      font-weight: lighter;
    }
  }
}
