@import "../components/utilities.module";

.footer {
  padding: 2rem;
  height: 30vh;
  background: $color-amber;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);

  &_linkedin {
    display: inline-block;
    text-align: left;
    grid-column: 2 /3;
    grid-row: 2/3;
  }

  &_git {
    display: inline-block;
    text-align: right;
    grid-column: 3 /4;
    grid-row: 2/3;
  }

  &_copyright {
    color: $color-lochmara;
    font-size: 1.6rem;
    text-align: center;
    grid-column: 2/4;
    grid-row: 3/4;
    align-self: end;
  }
}
