@import "../components/utilities.module";

.home_header {
  height: 92vh;
  background-color: $color-ebony-clay;
  display: grid;
  align-items: center;
  padding: 4rem;

  &_salute {
    &__text {
      color: $color-bianca;
      font-weight: lighter;
    }
  }

  &_name {
    color: $color-bianca;
    &__subtext {
      font-weight: lighter;
    }
    &__line {
      width: 42vw;
    }
  }

  &_portfolio {
    display: block;
    &__link {
      color: $color-amber;
      display: block;
      font-size: 3.2rem;
      text-transform: uppercase;
    }
  }
}

.home_project {
  background-color: $color-shakespeare;
  display: grid;
  align-items: center;
  padding: 4rem;
  color: $color-bianca;

  &_container {
    margin-top: 4rem;
  }

  &_title {
    text-transform: uppercase;
  }

  &_visual {
    &__img {
      width: 100%;
      height: auto;
      margin-bottom: 1.2rem;
    }
  }

  &_content {
    text-transform: capitalize;

    &__text {
      padding: 1rem 0;
    }
    &__link {
      color: $color-amber;
    }
  }
}

.home_services {
  background-color: $color-jade;
  display: grid;
  align-items: center;
  color: $color-bianca;
  padding: 4rem;

  &_container {
    margin-top: 4rem;
  }

  &_title {
    text-transform: uppercase;
  }

  &_visual {
    &__img {
      display: block;
      width: 100%;
      height: auto;
      margin-bottom: 1.2rem;
    }
  }

  &_content {
    text-transform: capitalize;

    &__text {
      padding: 1rem 0;
    }
    &__link {
      color: $color-amber;
    }
  }
}

.home_comment {
  background-color: $color-shakespeare;
  display: grid;
  align-items: center;
  padding: 4rem;
  text-align: center;
  color: $color-bianca;

  &_container {
    &:last-child {
      margin-top: 4rem;
    }

    &__content {
      font-style: italic;
      font-weight: lighter;
    }

    &__name {
      font-weight: lighter;
    }

    &__position {
      font-weight: lighter;
    }
  }
}

//TABLET
@media screen and (min-width: $size-tablet) {
  .home_header {
    padding-left: 8rem;
  }

  .home_project {
    padding: 8rem;
    &_container {
      margin-top: 8rem;
    }

    &_visual {
      &__img {
        max-width: 60%;
      }
    }
  }

  .home_services {
    padding: 8rem;

    &_container {
      margin-top: 8rem;
    }

    &_visual__img {
      max-width: 60%;
    }
  }

  .home_comment {
    padding: 8rem;
  }

  .home_header_name__line {
    width: 24vw;
  }
}

//DESKTOP
@media screen and (min-width: $size-desktop) {
  .home_header {
    padding-left: 12rem;

    &_name {
      text-align: center;
      &__subtext {
        font-weight: lighter;
      }
      &__line {
        margin: 0.4rem auto;
        width: 42vw;
      }
    }

    &_portfolio {
      text-align: center;
      display: block;
      &__link {
        color: $color-amber;
        display: block;
        font-size: 3.2rem;
        text-transform: uppercase;
      }
    }
  }

  .home_project {
    padding: 12rem;

    &_container {
      margin-top: 12rem;
    }
  }

  .home_services {
    padding: 12rem;

    &_container {
      margin-top: 12rem;
    }
  }

  .home_comment {
    padding: 12rem;
  }

  .home_header_name__line {
    width: 24vw;
  }
}
