@import "../components/utilities.module";

.home_header {
  height: 92vh;
  background-color: $color-ebony-clay;
  display: grid;
  align-items: center;
  padding: 0 4rem;

  &_salute {
    &__text {
      color: $color-bianca;
      font-weight: lighter;
    }
  }

  &_name {
    color: $color-bianca;
    &__subtext {
      font-weight: lighter;
    }
    &__line {
      width: 42vw;
    }
  }

  &_portfolio {
    display: block;
    &__link {
      color: $color-amber;
      display: block;
      font-size: 3.2rem;
      text-transform: uppercase;
    }
  }
}

@media only screen and (min-width: $size-tablet) {
  .home_header {
    padding-left: 8rem;
  }

  .home_header_name__line {
    width: 24vw;
  }
}

.home_project {
  background-color: $color-shakespeare;
  display: grid;
  align-items: center;
  padding: 4rem;
  color: $color-bianca;

  &_container {
    margin-top: 4rem;
  }

  &_title {
    text-transform: uppercase;
  }

  &_visual {
    &__img {
      width: 100%;
      height: auto;
      margin-bottom: 1.2rem;
    }
  }

  &_content {
    text-transform: capitalize;

    &__text {
      font-size: 1.4rem;
      padding: 1rem 0;
    }
    &__link {
      color: $color-amber;
    }
  }
}

.home_services {
  background-color: $color-jade;
  display: grid;
  align-items: center;
  color: $color-bianca;
  padding: 4rem;

  &_container {
    margin-top: 4rem;
  }

  &_title {
    text-transform: uppercase;
  }

  &_visual {
    &__img {
      display: block;
      width: 100%;
      height: auto;
      margin-bottom: 1.2rem;
    }
  }

  &_content {
    text-transform: capitalize;

    &__text {
      font-size: 1.4rem;
      padding: 1rem 0;
    }
    &__link {
      color: $color-amber;
    }
  }
}
