$color-lochmara: #007cc7;
$color-shakespeare: #4da8da;
$color-ebony-clay: #2b3647;
$color-jade: #00a57a;
$color-east-side: #9687ca;
$color-amber: #ffc000;
$color-bianca: #fbf9f1;
$color-kournikova: #ffdf6c;

$font-poppins: "Poppins";
$font-roboto: "Roboto";
