$color-lochmara: #007cc7;
$color-shakespeare: #4da8da;
$color-ebony-clay: #2b3647;
$color-jade: #00a57a;
$color-east-side: #9687ca;
$color-amber: #ffc000;
$color-bianca: #fbf9f1;
$color-kournikova: #ffdf6c;

$font-poppins: "Poppins";
$font-roboto: "Roboto";

$size-tablet: 768px;
$size-desktop: 1200px;

.topline {
  display: block;
  opacity: 0.8;
  content: "";
  background-color: $color-amber;
  height: 5px;
  width: 12rem;
  margin-bottom: 0.8rem;
}
