.topline {
  border-radius: 4px;
  display: block;
  content: "";
  background-color: #ffc000;
  height: 5px;
  width: 12rem;
  margin-bottom: 0.8rem;
}

.commentline {
  border-radius: 4px;
  margin: 2rem 0 1rem 0;
  display: -ms-inline-grid;
  display: inline-grid;
  justify-items: center;
  content: "";
  background-color: #ffc000;
  height: 5px;
  width: 12rem;
}

.nav_bar {
  height: 10vh;
  background: #ffc000;
}

.nav_bar .nav_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: 50%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  margin-left: auto;
}

.nav_bar .nav_links .nav_links__link__a {
  color: #2b3647;
  font-size: 3.2rem;
  font-weight: lighter;
}

@media screen and (max-width: 768px) {
  .nav_bar {
    position: relative;
  }
  .nav_bar .nav_hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    -webkit-transform: translate(-5%, -50%);
            transform: translate(-5%, -50%);
    z-index: 2;
  }
  .nav_bar .nav_hamburger__line {
    width: 30px;
    height: 3px;
    background: #2b3647;
    margin: 5px;
  }
  .nav_bar .nav_links {
    position: fixed;
    background: #ffc000;
    height: 100vh;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    clip-path: circle(0 at 90% -10%);
    -webkit-clip-path: circle(0 at 90% -10%);
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
  }
  .nav_bar .nav_links.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
  }
}

.topline {
  border-radius: 4px;
  display: block;
  content: "";
  background-color: #ffc000;
  height: 5px;
  width: 12rem;
  margin-bottom: 0.8rem;
}

.commentline {
  border-radius: 4px;
  margin: 2rem 0 1rem 0;
  display: -ms-inline-grid;
  display: inline-grid;
  justify-items: center;
  content: "";
  background-color: #ffc000;
  height: 5px;
  width: 12rem;
}

.footer {
  padding: 2rem;
  height: 16vh;
  background: #ffc000;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
}

.footer_linkedin {
  display: inline-block;
  text-align: left;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 /3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.footer_git {
  display: inline-block;
  text-align: right;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 /4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.footer_copyright {
  color: #007cc7;
  font-size: 1.6rem;
  text-align: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.topline {
  border-radius: 4px;
  display: block;
  content: "";
  background-color: #ffc000;
  height: 5px;
  width: 12rem;
  margin-bottom: 0.8rem;
}

.commentline {
  border-radius: 4px;
  margin: 2rem 0 1rem 0;
  display: -ms-inline-grid;
  display: inline-grid;
  justify-items: center;
  content: "";
  background-color: #ffc000;
  height: 5px;
  width: 12rem;
}

.topline {
  border-radius: 4px;
  display: block;
  content: "";
  background-color: #ffc000;
  height: 5px;
  width: 12rem;
  margin-bottom: 0.8rem;
}

.commentline {
  border-radius: 4px;
  margin: 2rem 0 1rem 0;
  display: -ms-inline-grid;
  display: inline-grid;
  justify-items: center;
  content: "";
  background-color: #ffc000;
  height: 5px;
  width: 12rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", serif;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 4.2rem;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 3.2rem;
}

h4 {
  font-size: 2.6rem;
}

h5 {
  font-size: 1.8rem;
}

h6 {
  font-size: 1.6rem;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 2rem;
  }
}

.topline {
  border-radius: 4px;
  display: block;
  content: "";
  background-color: #ffc000;
  height: 5px;
  width: 12rem;
  margin-bottom: 0.8rem;
}

.commentline {
  border-radius: 4px;
  margin: 2rem 0 1rem 0;
  display: -ms-inline-grid;
  display: inline-grid;
  justify-items: center;
  content: "";
  background-color: #ffc000;
  height: 5px;
  width: 12rem;
}

.home_header {
  height: 92vh;
  background-color: #2b3647;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem;
}

.home_header_salute__text {
  color: #fbf9f1;
  font-weight: lighter;
}

.home_header_name {
  color: #fbf9f1;
}

.home_header_name__subtext {
  font-weight: lighter;
}

.home_header_name__line {
  width: 42vw;
}

.home_header_portfolio {
  display: block;
}

.home_header_portfolio__link {
  color: #ffc000;
  display: block;
  font-size: 3.2rem;
  text-transform: uppercase;
}

.home_project {
  background-color: #4da8da;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem;
  color: #fbf9f1;
}

.home_project_container {
  margin-top: 4rem;
}

.home_project_title {
  text-transform: uppercase;
}

.home_project_visual__img {
  width: 100%;
  height: auto;
  margin-bottom: 1.2rem;
}

.home_project_content {
  text-transform: capitalize;
}

.home_project_content__text {
  padding: 1rem 0;
}

.home_project_content__link {
  color: #ffc000;
}

.home_services {
  background-color: #00a57a;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fbf9f1;
  padding: 4rem;
}

.home_services_container {
  margin-top: 4rem;
}

.home_services_title {
  text-transform: uppercase;
}

.home_services_visual__img {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 1.2rem;
}

.home_services_content {
  text-transform: capitalize;
}

.home_services_content__text {
  padding: 1rem 0;
}

.home_services_content__link {
  color: #ffc000;
}

.home_comment {
  background-color: #4da8da;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem;
  text-align: center;
  color: #fbf9f1;
}

.home_comment_container:last-child {
  margin-top: 4rem;
}

.home_comment_container__content {
  font-style: italic;
  font-weight: lighter;
}

.home_comment_container__name {
  font-weight: lighter;
}

.home_comment_container__position {
  font-weight: lighter;
}

@media screen and (min-width: 768px) {
  .home_header {
    padding-left: 8rem;
  }
  .home_project {
    padding: 8rem;
  }
  .home_project_container {
    margin-top: 8rem;
  }
  .home_project_visual__img {
    max-width: 60%;
  }
  .home_services {
    padding: 8rem;
  }
  .home_services_container {
    margin-top: 8rem;
  }
  .home_services_visual__img {
    max-width: 60%;
  }
  .home_comment {
    padding: 8rem;
  }
  .home_header_name__line {
    width: 24vw;
  }
}

@media screen and (min-width: 1200px) {
  .home_header {
    padding-left: 12rem;
  }
  .home_header_name {
    text-align: center;
  }
  .home_header_name__subtext {
    font-weight: lighter;
  }
  .home_header_name__line {
    margin: 0.4rem auto;
    width: 42vw;
  }
  .home_header_portfolio {
    text-align: center;
    display: block;
  }
  .home_header_portfolio__link {
    color: #ffc000;
    display: block;
    font-size: 3.2rem;
    text-transform: uppercase;
  }
  .home_project {
    padding: 12rem;
  }
  .home_project_container {
    margin-top: 12rem;
  }
  .home_services {
    padding: 12rem;
  }
  .home_services_container {
    margin-top: 12rem;
  }
  .home_comment {
    padding: 12rem;
  }
  .home_header_name__line {
    width: 24vw;
  }
}
/*# sourceMappingURL=main.module.css.map */