.topline {
  border-radius: 4px;
  display: block;
  content: "";
  background-color: #ffc000;
  height: 5px;
  width: 12rem;
  margin-bottom: 0.8rem;
}

.commentline {
  border-radius: 4px;
  margin: 2rem 0 1rem 0;
  display: -ms-inline-grid;
  display: inline-grid;
  justify-items: center;
  content: "";
  background-color: #ffc000;
  height: 5px;
  width: 12rem;
}

.nav_bar {
  height: 8vh;
  background: #2b3647;
}

.nav_bar_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: 50%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  height: 100%;
}

.nav_bar_menu__link {
  color: #fbf9f1;
  font-size: 3.2rem;
  font-weight: lighter;
}

@media screen and (max-width: 768px) {
  .nav_bar {
    position: relative;
    z-index: 1;
    height: 10vh;
  }
  .nav_bar_hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    -webkit-transform: translate(-5%, -50%);
            transform: translate(-5%, -50%);
    z-index: 2;
  }
  .nav_bar_hamburger__line {
    width: 30px;
    height: 3px;
    background: #fbf9f1;
    margin: 5px;
  }
  .nav_bar_menu {
    position: fixed;
    background: #2b3647;
    height: 100vh;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    clip-path: circle(0 at 90% -10%);
    -webkit-clip-path: circle(0 at 90% -10%);
    -webkit-transition: all 0.8s ease-out;
    transition: all 0.8s ease-out;
  }
  .nav_bar_menu.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
  }
}

.topline {
  border-radius: 4px;
  display: block;
  content: "";
  background-color: #ffc000;
  height: 5px;
  width: 12rem;
  margin-bottom: 0.8rem;
}

.commentline {
  border-radius: 4px;
  margin: 2rem 0 1rem 0;
  display: -ms-inline-grid;
  display: inline-grid;
  justify-items: center;
  content: "";
  background-color: #ffc000;
  height: 5px;
  width: 12rem;
}

.footer {
  padding: 2rem;
  height: 20vh;
  background: #2b3647;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  color: #fbf9f1;
  font-size: 1rem;
  text-align: center;
}

.footer_linkedin {
  text-align: left;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 /3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.footer_git {
  text-align: right;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 /4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.footer_copyright {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

@media screen and (min-width: 1200px) {
  .footer {
    font-size: 1.4rem;
  }
}

.topline {
  border-radius: 4px;
  display: block;
  content: "";
  background-color: #ffc000;
  height: 5px;
  width: 12rem;
  margin-bottom: 0.8rem;
}

.commentline {
  border-radius: 4px;
  margin: 2rem 0 1rem 0;
  display: -ms-inline-grid;
  display: inline-grid;
  justify-items: center;
  content: "";
  background-color: #ffc000;
  height: 5px;
  width: 12rem;
}

.topline {
  border-radius: 4px;
  display: block;
  content: "";
  background-color: #ffc000;
  height: 5px;
  width: 12rem;
  margin-bottom: 0.8rem;
}

.commentline {
  border-radius: 4px;
  margin: 2rem 0 1rem 0;
  display: -ms-inline-grid;
  display: inline-grid;
  justify-items: center;
  content: "";
  background-color: #ffc000;
  height: 5px;
  width: 12rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", serif;
  font-size: 1.6rem;
  color: #fbf9f1;
  font-weight: lighter;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 4.2rem;
  text-transform: uppercase;
}

h2 {
  font-size: 3.6rem;
  text-transform: uppercase;
}

h3 {
  font-size: 3.2rem;
}

h4 {
  font-size: 2.6rem;
}

h5 {
  font-size: 1.8rem;
}

h6 {
  font-size: 1.6rem;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 1.8rem;
  }
}

.topline {
  border-radius: 4px;
  display: block;
  content: "";
  background-color: #ffc000;
  height: 5px;
  width: 12rem;
  margin-bottom: 0.8rem;
}

.commentline {
  border-radius: 4px;
  margin: 2rem 0 1rem 0;
  display: -ms-inline-grid;
  display: inline-grid;
  justify-items: center;
  content: "";
  background-color: #ffc000;
  height: 5px;
  width: 12rem;
}

.home_header {
  height: 76vh;
  background-color: #ffc000;
  color: #fbf9f1;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem;
}

.home_header_salute__text {
  font-weight: lighter;
}

.home_header_name__subtext {
  font-weight: lighter;
  text-shadow: 0.5px 0.5px #2b3647;
}

.home_header_portfolio {
  display: block;
}

.home_header_portfolio__link {
  font-weight: bold;
  color: #2b3647;
  font-size: 3.2rem;
  text-transform: uppercase;
}

.home_project {
  padding: 4rem;
  background-color: #00a57a;
}

.home_project_visual {
  display: block;
  margin-top: 4rem;
}

.home_project_title {
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.home_project_content__text {
  padding: 1rem 0;
}

.home_project_content__link {
  color: #ffc000;
}

.home_services {
  background-color: #4da8da;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem;
  color: #fbf9f1;
}

.home_services_container_visual {
  margin-top: 4rem;
}

.home_services_container_content__title {
  text-transform: capitalize;
}

.home_services_container_content__link {
  color: #ffc000;
}

.home_comment {
  background-color: #4da8da;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem;
  text-align: center;
  color: #fbf9f1;
}

.home_comment_container:last-child {
  margin-top: 4rem;
}

.home_comment_container__content {
  font-style: italic;
}

.home_comment_container__name {
  font-weight: lighter;
}

.home_comment_container__position {
  font-weight: lighter;
}

@media screen and (min-width: 768px) {
  .home_header {
    padding: 0 8rem;
  }
  .home_project {
    padding: 8rem;
  }
  .home_services {
    padding: 8rem;
  }
  .home_comment {
    padding: 8rem;
  }
}

@media screen and (min-width: 1200px) {
  .home_header_name {
    text-align: center;
  }
  .home_header_portfolio {
    text-align: center;
  }
  .home_header_portfolio__link {
    font-size: 3.2rem;
  }
  .home_project {
    padding: 12rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto 1fr;
        grid-template-rows: auto 1fr;
  }
  .home_project_title {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .home_project_visual {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding-right: 2rem;
  }
  .home_project_content {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    margin: auto;
  }
  .home_services {
    padding: 12rem;
  }
  .home_services_container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto 1fr;
        grid-template-rows: auto 1fr;
  }
  .home_services_container_title {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    margin-bottom: 4rem;
  }
  .home_services_container_content {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    margin: 8rem auto;
    margin-left: 4rem;
  }
  .home_services_container_visual {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .home_comment {
    padding: 12rem;
  }
}

.topline {
  border-radius: 4px;
  display: block;
  content: "";
  background-color: #ffc000;
  height: 5px;
  width: 12rem;
  margin-bottom: 0.8rem;
}

.commentline {
  border-radius: 4px;
  margin: 2rem 0 1rem 0;
  display: -ms-inline-grid;
  display: inline-grid;
  justify-items: center;
  content: "";
  background-color: #ffc000;
  height: 5px;
  width: 12rem;
}

.about_header {
  display: -ms-grid;
  display: grid;
  margin-bottom: -10px;
}

.about_header__picture__img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

.about_header_container {
  position: absolute;
  padding: 4rem;
}

.about_header_container__content {
  margin-top: 4rem;
  color: #ffdf6c;
  font-weight: lighter;
  text-transform: capitalize;
  text-shadow: 1px 1px #2b3647;
}

.about_summary {
  display: -ms-grid;
  display: grid;
  color: #fbf9f1;
  background-color: #2b3647;
  padding: 4rem;
}

.about_summary_container {
  text-align: center;
}

.about_summary_container__title {
  font-weight: lighter;
}

.about_summary_container__content {
  margin-top: 2rem;
  font-weight: lighter;
  font-style: italic;
}

.about_education {
  background-color: #00a57a;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem;
}

.about_education__maintitle {
  text-transform: uppercase;
}

.about_education_container__card {
  margin-bottom: 2rem;
}

.about_education_container__title {
  margin-top: 2rem;
  color: #ffc000;
  text-transform: uppercase;
}

.about_education_container__title_school {
  padding-top: 0.6rem;
  text-transform: uppercase;
  font-style: italic;
}

.about_education_container__content {
  padding-top: 0.6rem;
  font-weight: lighter;
  font-style: italic;
}

.about_hobbies {
  background-color: #9687ca;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem;
  color: #fbf9f1;
}

.about_hobbies__maintitle {
  text-transform: uppercase;
}

.about_hobbies_content {
  margin-top: 2rem;
}

.about_travel {
  margin-bottom: -10px;
}

.about_travel__picture__img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .about_header_container {
    padding: 8rem;
  }
  .about_header_container_title__content {
    font-size: 3.2rem;
  }
  .about_education {
    padding: 8rem;
  }
  .about_summary {
    padding: 8rem;
  }
  .about_hobbies {
    padding: 8rem;
  }
}

@media screen and (min-width: 1200px) {
  .about_header_container {
    padding: 12rem;
  }
  .about_education {
    padding: 12rem;
  }
  .about_summary {
    padding: 12rem;
  }
  .about_hobbies {
    padding: 12rem;
  }
}

.topline {
  border-radius: 4px;
  display: block;
  content: "";
  background-color: #ffc000;
  height: 5px;
  width: 12rem;
  margin-bottom: 0.8rem;
}

.commentline {
  border-radius: 4px;
  margin: 2rem 0 1rem 0;
  display: -ms-inline-grid;
  display: inline-grid;
  justify-items: center;
  content: "";
  background-color: #ffc000;
  height: 5px;
  width: 12rem;
}

.lab_header {
  height: 70vh;
  background-color: #2b3647;
  color: #fbf9f1;
}

.lab_header_container {
  padding: 4rem;
}

.lab_header_container__title {
  font-weight: lighter;
}

.topline {
  border-radius: 4px;
  display: block;
  content: "";
  background-color: #ffc000;
  height: 5px;
  width: 12rem;
  margin-bottom: 0.8rem;
}

.commentline {
  border-radius: 4px;
  margin: 2rem 0 1rem 0;
  display: -ms-inline-grid;
  display: inline-grid;
  justify-items: center;
  content: "";
  background-color: #ffc000;
  height: 5px;
  width: 12rem;
}

.error {
  text-align: center;
  display: -ms-grid;
  display: grid;
  height: 70vh;
  background-color: #e7696d;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.error_container__title {
  font-size: 8rem;
  color: #ffc000;
}

@media only screen and (min-width: 768px) {
  .error_container__title {
    font-size: 12rem;
  }
}

@media only screen and (min-width: 1200px) {
  .error_container__title {
    font-size: 16rem;
  }
}

.topline {
  border-radius: 4px;
  display: block;
  content: "";
  background-color: #ffc000;
  height: 5px;
  width: 12rem;
  margin-bottom: 0.8rem;
}

.commentline {
  border-radius: 4px;
  margin: 2rem 0 1rem 0;
  display: -ms-inline-grid;
  display: inline-grid;
  justify-items: center;
  content: "";
  background-color: #ffc000;
  height: 5px;
  width: 12rem;
}

.project_header {
  display: -ms-grid;
  display: grid;
  margin-bottom: -10px;
}

.project_header__picture__img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

.project_header_container {
  position: absolute;
  padding: 4rem;
}

.project_header_container__content {
  margin-top: 4rem;
  color: #ffdf6c;
  font-weight: lighter;
  text-transform: capitalize;
  text-shadow: 1px 1px #2b3647;
}

.project_body {
  background-color: #4da8da;
}

.project_body_container {
  padding: 4rem;
}

.project_body_container:nth-child(1) {
  background-color: #2b3647;
}

.project_body_container:nth-child(2) {
  background-color: #fbf9f1;
  color: #2b3647;
}

.project_body_container:nth-child(3) {
  background-color: #9687ca;
}

.project_body_container:nth-child(4) {
  background-color: #00a57a;
}

.project_body_container:nth-child(5) {
  background-color: #4da8da;
}

.project_body_container:nth-child(6) {
  background-color: #e7696d;
}

.project_body_container_visual {
  display: block;
  margin-top: 4rem;
}

.project_body_container_title {
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.project_body_container_content__text {
  padding: 1rem 0;
}

.project_body_container_content__link {
  color: #ffc000;
}

@media screen and (min-width: 768px) {
  .project_header {
    display: -ms-grid;
    display: grid;
  }
  .project_header_container {
    padding: 8rem;
  }
  .project_body_container {
    padding: 8rem;
  }
}

@media screen and (min-width: 1200px) {
  .project_header_container {
    padding: 12rem;
  }
  .project_body_container {
    padding: 12rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto 1fr;
        grid-template-rows: auto 1fr;
  }
  .project_body_container_title {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .project_body_container_visual {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding-right: 2rem;
  }
  .project_body_container_content {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    margin: auto;
  }
}
/*# sourceMappingURL=main.module.css.map */